
<mat-card>
    <mat-card-content>
        <form
            class="form"
            *ngIf="formUrlParamsObservable | async as formParams"
            [ngxFormUrlSaver]="differentForm"
            [strategy]="formParams.strategy"
            [debounceTime]="formParams.debounceTime"
            [queryKey]="formParams.queryKey"
        >
            <mat-form-field appearance="outline">
                <mat-label>Choose color</mat-label>
                <input matInput type="color" formControlName="color">
            </mat-form-field>
            <mat-radio-group formControlName="range">
                <mat-radio-button value="1">
                Option 1
                </mat-radio-button>
                <mat-radio-button value="2">
                    Option 2
                </mat-radio-button>
                <mat-radio-button value="3">
                    Option 3
                </mat-radio-button>
            </mat-radio-group>
            <mat-slider>
                <input formControlName="progress" matSliderThumb>
            </mat-slider>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button
            type="button"
            mat-raised-button
            color="primary"
        >
            clear
        </button>
    </mat-card-actions>
</mat-card>
